body{
    background-color: rgb(248, 249, 249);
    display: flex;
    justify-content: center;
    align-items: center;

}
main{
    width: 60%;
    display: flex;
    border: 1px solid;
    background-color: white;
    justify-content: center;
    align-items: center;
    margin-top: 20px
}
.main{
    width: 100%;
}
.card1{
    border-bottom:  0.5px solid rgb(131, 131, 115);
    border-top:  0.5px solid rgb(131, 131, 115);
    width: 100%;
    /* height: 20px; */
    display: flex;
    justify-content: space-between;
    background-color: rgb(248, 249, 249);
}
h1,h2,h3{
    text-align: center;
}

.pStart,.pEnd{
    display: inline-block;
    margin-block-start: 0;
    margin-block-end: 0;
}
.colors{
    display: flex;
    justify-content: start;
    margin-left: 10px;
    padding: 10px;
}
.colors .circle{
margin: 0 0;
width: 30px;
height: 30px;
margin: 10px;
border-radius: 50%;
border: 1px solid black;
}
.circle1{
background-color: red;
}
.circle2{
    background-color: blue;
}
.circle3{
        background-color: yellow;
}
.circle4{
    background-color: purple;
}
.circle5{
    background-color: green;
}
.circle6{
    background-color: orange;
}
div button{
    background-color: rgb(97, 178, 97);
    color: white;
    margin: 10px 10px;
    padding: 10px 20px;
}
.circleguess{
 /* margin: 0 0; */
width: 10px;
height: 10px;
margin-left: 10px;
display: inline-block;
border-radius: 50%;
border: 1px solid black;
}
.guess {
    display: flex;
}